body {
	background: #2f4858;
	margin: 0;
}

.navbar {
	position: fixed;
	display: inline-block;
	width:100%;
	font-size: 20px;
	background: grey;
	padding: 0px;
	margin: 0px;
	top:0;
}

.navbar a {
	text-decoration: none;
	color: white;
	text-align: center;
	height: 25px;
	padding: 10px;
	float: left;
}

.navbar a:hover {
	background: white;
	color: black;
}

.active {
	background: #86bbd8;
}

.main {
	margin-top: 150px;
}

.mapContainer {
	text-align: center;
}

.slide-content { margin: 0 auto; width: 960px; }

#spreadSlide {
	background: url('cough.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	color: #FFFFFF;
	padding: 20px 0 100px 0;
	background-size: cover;
	overflow: hidden;
}
#preventionSlide {
	background: #33658a;
	height: 200px;
	padding: 20px 0;
	overflow: hidden;
	height: 300px;
}

#symptomSlide {
	background: url('fever.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	color: #FFFFFF;
	overflow: hidden;
	padding 20px 0;
	background-size: cover;
}

.infobox {
	display: inline-block;
	height: 300px;
	width: 250px;
	background: #33658a;
	margin: 0 50px;
	padding: 5px;
}

#inside {
	text-align: center;
	margin: 50px 0;
	width: 100%;
	height: 350px;
}
#outside {
	text-align: center;
	margin: 50px 0;
	width: 100%;
	height: 350px;
}